// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;


// Update some of Bulma's component variables

* {
    font-family: 'Poppins', sans-serif;
}

.header {
    text-align: center;
    margin-top: 2rem;
}

.intro-content {
    text-align: center;
    margin: 2em 0;
}

.home-buttons {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.button + .button {
    margin-top: 2rem;
}

.contact-button {
    margin-top: 2em;
}

.icon-buttons {
    display: flex;
    justify-content: space-evenly;
    color: #70C1B3;
}

.card {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 25px;
    box-shadow: 1px 12px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0.5em;
    margin-bottom: 3em;
    width: 70%; 
    background-color: #B2DBBF;
    color: white;
}

.card-text {
    color: white;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-bottom: 0.25em;
    color: #70C1B3;
}

.hero-body {
    background-color: #70C1B3;
}

.home-button {
    color: #1F4741;
}

.employer-subtitle {
    text-transform: uppercase;
}