// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;


// Update some of Bulma's component variables

* {
    font-family: 'Poppins', sans-serif;
}

.header {
    text-align: center;
    margin-top: 2rem;
}

.home-buttons {
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.button + .button {
    margin-top: 1rem;
}